
@{
    ViewBag.Title = "Quản trị hành chánh";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Hành chánh @*<small>Some examples to get you started</small>*@</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <div class="row">
            @Html.Action("Phongban","Main")
            @Html.Action("Loainhanvien", "Main")



            
            <div class="clearfix"></div>

            @Html.Action("Loaichinhanh", "Main")

            <div class="clearfix"></div>
        </div>
    </div>
</div>


