
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!--Load the AJAX API-->
<script src="~/Scripts/jquery.canvasjs.min.js"></script>
<script src="~/Scripts/canvasjs.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/excanvas.js"></script>

<div class="right_col" role="main">
    <div class="">
        

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer" style="height: 300px; width:100%">
                    @*<canvas id="chartContainer"></canvas>*@
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer1" style="height: 300px; width:100%">
                    
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer2" style="height: 300px; width:100%">

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer3" style="height: 300px; width:100%">

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer4" style="height: 300px; width:100%">

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <input id="numb">
                <button type="button" onclick="myFunction()">Submit</button>
                <p id="demo"></p>
                <div id="chartContainer5" style="height: 300px; width:100%">

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="chartContainer6" style="height: 300px; width:100%">

                </div>
            </div>
        </div>

     
    </div>
</div>
<script src="~/vendors/Chart.js/dist/Chart.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/GetDoanhthuNV", function (data) {
            for (var i = 0; i <= data.length -1; i++) {
                dataPoints.push({ label: data[i].tennv, y: parseInt(data[i].tong) });
            }
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",//theme1
                title: {
                    text: "Doanh thu từng nhân viên",
                    fontFamily: "tahoma",
                },                
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "column",
                    dataPoints: dataPoints
                }
                ]
            });

            chart.render();
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/Getsoluonghd", function (data) {
            for (var i = 0; i <= data.length - 1; i++) {
                dataPoints.push({ label: "Tháng " + data[i].thang, y: parseInt(data[i].sl) });
            }
            var chart = new CanvasJS.Chart("chartContainer1", {
                theme: "theme2",//theme1
                title: {
                    text: "Hợp đồng theo tháng năm @Html.Raw(ViewBag.nam)",
                    fontFamily: "tahoma"
                },
                creditText:"",
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "line",
                    dataPoints: dataPoints
                }
                ]
            });

            chart.render();
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/GetPYCNhanVien", function (data) {
            for (var i = 0; i <= data.length -1; i++) {
                dataPoints.push({ label: data[i].tennv, legendText: data[i].tennv, y: parseInt(data[i].sl) });
            }
            var chart = new CanvasJS.Chart("chartContainer2", {
                theme: "theme2",//theme1
                title: {
                    text: "Số phiếu yêu cầu",
                    fontFamily: "tahoma"
                },
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "pie",                   
                    showInLegend: true,
                    indexLabel: "{label}:{y} phiếu",
                    dataPoints: dataPoints
                }
                ]
            });

            chart.render();
        });

    });
</script>

<script type="text/javascript">
    var dataPoints1=[];
    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetSoHopDongTrong", "Thongke")',
        data: {},
        dataType: "json",
        cache: false,
        async: false,
        success: function (data) {
            for (var i = 0; i <= data.length -1; i++) {
                dataPoints1.push({ label: data[i].thang, y: parseInt(data[i].sl) });
            }
        },
        error: function(errorMsg) {
            alert(errorMsg);
        }
    });
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/GetSoHopDongNgoai", function (data) {
            for (var i = 0; i <= data.length -1; i++) {
                dataPoints.push({ label: data[i].thang, y: parseInt(data[i].sl) });
            }

            var chart = new CanvasJS.Chart("chartContainer3", {
                theme: "theme2",//theme1
                animationEnabled: true,
                title: {
                    fontFamily: "tahoma", 
                    text: "Hợp đồng theo tháng"
                },
                axisX: {
                    title: "Tháng"
                },
                axisY: {
                    title: "Phần trăm"
                },
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "stackedColumn100",
                    legendText: "Hợp đồng ngoài",
                    showInLegend: "true",
                    indexLabel: "#percent %",
                    indexLabelPlacement: "inside",
                    indexLabelFontColor: "white",
                    dataPoints: dataPoints
                },
                 {
                     type: "stackedColumn100",
                     legendText: "Hợp đồng trong",
                     showInLegend: "true",
                     indexLabel: "#percent %",
                     indexLabelPlacement: "inside",
                     indexLabelFontColor: "white",
                     dataPoints: dataPoints1,
                 }
                ]
            });

            chart.render();
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/GetPYCThang", function (data) {
            for (var i = 0; i <= data.length -1; i++) {
                dataPoints.push({ label: data[i].thang, y: parseInt(data[i].sl) });
            }
            var chart = new CanvasJS.Chart("chartContainer4", {
                theme: "theme2",//theme1
                title: {
                    fontFamily: "tahoma", 
                    text: "Phiếu Yêu Cầu theo tháng @Html.Raw(ViewBag.nam)"
                },
                axisX: {
                    title: "Tháng"
                },
                axisY: {
                    title: "Số phiếu"
                },
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "column",
                    dataPoints: dataPoints
                }
                ]
            });

            chart.render();
        });

    });
</script>

<script type="text/javascript">

    function myFunction() {
        var x,text;
        x = document.getElementById("numb").value;

        // If x is Not a Number or less than one or greater than 10
        if (isNaN(x) || x < 1 || x > 10) {
            //text = "Input not valid";
            {
                   $(document).ready(function () {
                    var dataPoints = [];
                    $.getJSON("../Thongke/GetPYC5", { Id: x }, function (data) {
                        for (var i = 0; i <= data.length - 1; i++) {
                            dataPoints.push({ label: data[i].thang, y: parseInt(data[i].sl) });
                        }
                        var chart = new CanvasJS.Chart("chartContainer5", {
                            theme: "theme2",//theme1
                            title: {
                                fontFamily: "tahoma", 
                                text: "Phiếu Yêu Cầu theo NĂM"
                            },
                            axisX: {
                                title: "Năm"
                            },
                            axisY: {
                                title: "Số phiếu"
                            },
                            data: [
                            {
                                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                                type: "column",
                                dataPoints: dataPoints
                            }
                            ]
                        });

                        chart.render();
                    });

                });
            }
        } else {
            text = "Input OK";
        }

        document.getElementById("demo").innerHTML = text;
        {

        }
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        var dataPoints = [];
        $.getJSON("../Thongke/GetDoanhthuthuc", function (data) {
            for (var i = 0; i <= data.length - 1; i++) {
                dataPoints.push({ label: "Tháng " + data[i].thang, y: parseInt(data[i].dt) });
            }
            var chart = new CanvasJS.Chart("chartContainer6", {
                theme: "theme2",//theme1
                title: {
                    fontFamily: "tahoma", 
                    text: "Hợp đồng theo tháng năm @Html.Raw(ViewBag.nam)"
                },
                axisY: {
                    title: "Tổng thu nhập"
                },
                data: [
                {
                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                    type: "area",
                    dataPoints: dataPoints
                }
                ]
            });

            chart.render();
        });

    });
</script>