@model DACN_ver_2.Models.PHIEUYEUCAU

@{
    ViewBag.Title = "ThemfilePYC";
    Layout = "~/Views/Shared/_LayoutKinhdoanh.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <h2>Thêm file đính kèm cho Phiếu yêu cầu số @Html.DisplayFor(model => model.SOPYC)</h2>
        <div class="jumbotron">
            <form action="~/Kinhdoanh/SaveDropzoneJsUploadedFiles/@Model.ID_PYC" class="dropzone" id="dropzoneJsForm"></form>
            <button id="submit-all">Submit All Files</button>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        Dropzone.options.dropzoneJsForm = {

            //prevents Dropzone from uploading dropped files immediately
            autoProcessQueue: false,
            maxFilesize: 50,
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var myDropzone = this; //closure

                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue(); //tell Dropzone to process all queued files
                });

            }
        };

    </script>
}


