@model DACN_ver_2.Models.KHACHHANG

 @using (Html.BeginForm("Xoakhachhang","Kinhdoanh")) {
        @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <input type="submit" value="Xoá" class="btn btn-danger" />
    </div>
 }

