
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        @if (ViewBag.Thongbao == null)
        {

        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Bạn không có quyền vào trang này nhé!</strong> liên hệ admin de biết thêm.
            </div>
        }
    </div>
</div>