
@{
    ViewBag.Title = "Danh mục quản lý";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý danh mục</h3>
            </div>
            
        </div>
        <div class="clearfix"></div>
        <div class="row">
            @Html.Action("Loaitaisan", "Quanly")
            @Html.Action("Loaihinh", "Quanly")
            <div class="clearfix"></div>
           @Html.Action("Loaithongtin", "Quanly")
           
            <div class="clearfix"></div>
        </div>
    </div>
</div>

