@model IEnumerable<DACN_ver_2.Models.LOAIHINH>


<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Loại thông tin | <small>Thêm mới</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Loại hình giá trị</th>
                        <th>Trạng thái</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.ID_LOAIHINH)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.TEN)
                            </td>
                            <td>
                                @if (item.TRANGTHAI == true)
                                {
                                    <p>Hiển thị</p>
                                }
                                else
                                { <p>Ẩn</p>}

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID_LOAIHINH }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID_LOAIHINH })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
